<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbonitor Login</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <div class="form-page">
        <div class="form-container">
            <!-- Logo component -->
            <div class="app-logo">
                <img src="path-to-logo.png" alt="Carbonitor Logo">
            </div>

            <!-- Login form component -->
                <h1 class="title">Sign in to Carbonitor</h1>
                

                    <div class="form-group">
                        <label for="email" class="form-label">email</label>
                        <span class="icon form email"></span>
                        <input type="email" id="email" class="form-input" placeholder="enter your email">
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">password</label>
                        <span class="icon form password"></span>
                        <input type="password" id="password" class="form-input" placeholder="enter your password">
                    </div>

                    <div class="flex-row">
                            <label class="form-checkbox">
                                <input type="checkbox" id="remember">
                                <span class="form-label">remember me</span>
                            </label>

                        <a class="form-label" href="">Forgot password?</a>
                      </div>


                    <div>
                    <button type="submit" class="form-sign-in_btn">Sign In</button>
                    </div>

                    <div class="separator">
                        <hr class="line">
                        <span>Or</span>
                        <hr class="line">
                      </div>

                      <div>
                        <button type="submit" class="form-sign-in_btn SSO">Sign In with SSO</button>
                        </div>



        </div>
    </div>
</body>
</html>