<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbonitor Navigation</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body class="container">
<div class="sidebar">
    <div class="nav-menu">

        <div class="nav-item active">
            <span class="icon home"></span>
            <span class="text">Home</span>
        </div>
        <div class="separator"></div>
        <div class="nav-item">
            <span class="icon product"></span>
            <span class="text">Products</span>
        </div>
        <div class="nav-item">
            <span class="icon buildup"></span>
            <span class="text">Buildups</span>
        </div>
        <div class="nav-item">
            <span class="icon model"></span>
            <span class="text">Models</span>
        </div>
        <div class="separator"></div>
        <div class="nav-item">
            <span class="icon category"></span>
            <span class="text">Categories</span>
        </div>
        <div class="nav_item">
            <span class="icon logout"></span>
            <span class="text">Logout</span>
        </div>
        <div class="separator"></div>
        <div class="nav-item">
            <span class="icon admin"></span>
            <span class="text">Settings</span>
        </div>
        <div class="nav-item hamburger">
            <span class="icon menu"></span>
        </div>
    </div>
</div>
<div class="main-content"> 
    <h1>Page Content goes here</h1>


</div>
  
</body>
</html>